[2012-06-08 08:42] txels opened #1 "Subclassing duplicates test cases"
Subclasses of ddt-decorated test cases generate duplicate tests

[2012-09-30 08:30] txels opened #3 "Allow unpacking test data tuples into multiple arguments to the test case"
Right now, if you want to pass several arguments to your test, you typically provide a tuple for each test case, and have to unpack them inside the test method, such as:

[code]

A nice improvement could be if `ddt` did this unpacking for you:

[code]

[2013-01-11 23:05] dlai0001 opened #4 "Scrubbing out XML character in the generated test names"
Currently if I passing in Objects using the decorator, because the "**name**" attribute can take on "<" and ">" characters if value passed in is an object (using default **repr**() ).  This will cause the JUnit parser to break if you use JUnit parser in CI.  Can you please add some sort of XML chracter stripping or escaping in the @ddt annotation class.

[code]

[2013-02-26 00:26] txels opened #9 "A missing JSON file should produce a noticeable error"
Currently, if a JSON file is missing for the `file_data` decorator, the test cases are _skipped_ and no visible error occurs.

[2013-02-26 23:23] dimfox opened #11 "Is it possible to provide data created in setUp?"
Nice utility.

I am wondering if it is possible to provide data created in setUp?

E.g.

[code]

[2013-02-27 07:59] #11 closed, assigned to nobody

[2013-02-27 10:09] #9 closed, assigned to nobody

[2014-02-08 22:53] #3 closed, assigned to nobody

[2014-02-21 15:27] omaciel opened #17 "Cannot run individual tests with nosetests"
Seems that you cannot run an individual ddt test via nosetests:

[code]

[2014-02-21 22:16] #17 closed, assigned to nobody

[2014-03-20 21:19] #4 closed, assigned to nobody

[2014-05-21 09:03] santtu opened #19 "Using dicts as @data generates variable test names"
Here's a simple test case:

[code]

When run with `python3.4`which nosetests`-v test.py` you'll get (potentially) different test names with different runs:

[code]

Why this is a problem:
- It breaks nosetest's `TestId` functionality (e.g. makes running `nosetests --with-ids --failed` fail). Being able to re-run failed tests only (`--failed`) is a super-useful feature, so it not working is a big p

[2014-07-23 10:07] willthomson opened #21 "Add a license"
It would be great if you could add a license to this project. Thanks!

[2014-12-13 02:45] collinanderson opened #23 "add Python 3 classifier to pypi"
This will correctly report this package as being Python 3 compatible by various checkers.

[code]

https://caniusepython3.com/project/ddt

[2014-12-13 16:10] #23 closed, assigned to nobody

[2014-12-13 16:11] #19 closed, assigned to nobody

[2015-01-18 22:00] lorenzph commented on #21
@gtsafas could you comment whether you agree with the proposed change? It would be great to see the licensing clearly documented within the source files and repository.

[2015-01-23 10:23] txels commented on #21
I've made a PR with the new license https://github.com/txels/ddt/pull/24. I will merge that shortly and *maybe* take this as a chance to release as version 1.0.

[2015-01-24 00:29] gtsafas commented on #21
@lorenzph im good with it!

[2015-01-26 08:46] txels commented on #21
Closed by #24

[2015-01-26 08:46] #21 closed

[2015-02-06 03:24] arnm commented on #3
I believe this could be enhanced further. [TestNG's @DataProvider](http://testng.org/doc/documentation-main.html#parameters-dataproviders) is what this really should be.

I really would like to do somethings like this:

[code]

I want more control of what data is passed into the test. Being able to generate all inputs for a test programmatically from a function, like TestNG does, would be a great

[2015-05-08 13:13] stefaniegoetz opened #27 "Passing an iterable with test values"
Exactly what I was looking for, just that I'd like to pass an interable of test values to the data decorator, like so:

[code]

The unpack decorator doesn't help here, as I want to run the test per language.

[2015-05-08 13:16] stefaniegoetz commented on #27
Silly me, of course I can simply unpack the iterable before passing it:

[code]

[2015-05-08 13:16] #27 closed

[2015-05-14 13:23] txels opened #30 "Support test data in YAML files"
Currently `ddt` supports feeding test data from a file, but that file has to be in JSON format.
Support for YAML seems like a good addition.

[2015-05-14 13:26] txels commented on #30
Since YAML is not supported in Python's standard library, this would have to be an optional extension, since I do not want to force a YAML parser as a dependency for `ddt`. `ddt` should stay very lightweight and be very fast to install.

[2015-07-09 00:55] CJ-Wright opened #31 "Exit series of method if fail/error"
Would it be possible for the `@data` decorator to stop early if the test fails?  Similar to `nosetests -x` except on a method by method basis.

[2015-07-09 07:34] txels commented on #31
DDT is not a test runner. As a class decorator, it multiplies the test cases at load time, and tries to do so in a manner that doesn't interfere with test runners. The result will be that you will have a different test case for every data value.

This makes it possible to use your test runner of choice and let it fail fast if it supports that option.

Have you tried using `nosetests -x` with `ddt`

[2015-07-09 19:13] CJ-Wright commented on #31
I did run `nosetests - x` with `ddt`, and it skipped the rest of the tests.

[2015-07-10 21:36] #31 closed

[2015-07-16 13:43] carlwgeorge opened #32 "pypi tarball 1.0.0 is missing files"
I maintain the Arch AUR package for this module.  I want to implement the test suite when building the package.  If I use the pypi tarball as the source, several files are missing.

[code]
[code]
[code]

Please include these missing files in the pypi tarball.

[code]

[2015-08-05 01:24] davidsoncasey commented on #1
Is this still an issue? I was just taking a look at it and unable to replicate. Just stumbled across your project last week and found it useful so I thought I'd try to help out a bit.

[2015-08-05 08:09] txels commented on #1
Thanks for your offer :)

Yes this is still an issue, if you feel like giving it a go. I can suggest some test case, but I believe it is fairly easy to reproduce.

[2015-08-07 06:33] davidsoncasey commented on #1
Here's the test case I came up with to replicate:
[code]
This gives the base class the following tests:
* test_larger_than_two_1_3
* test_larger_than_two_2_4
* test_not_larger_than_two_1_0
* test_not_larger_than_two_2_1

From this, I would expect the subclass to have tests:
* test_larger_than_two_1_5
* test_larger_than_two_2_6
* test_not_larger_than_two_1_0
* test_not_larger_than_two_2_1

While it

[2015-08-17 18:12] pradyunsg commented on #30
BUMP!

I agree with not making it a "required" dependency and an optional one.

The JSON part can be used as it is currently used.
For YAML, if someone tries to use it, without PyYAML (or whichever library) installed, you can raise an error telling the user to install the same, otherwise it should just work as expected.

[2015-11-18 15:51] redixin opened #35 "Different test names with different runs"
Lets take a look at this simple test:

[code]

This lead to different test names with different runs:

[code]

This is serious problem when running tests by testr.

Testr generates a list of all tests and divides it into N parts, depends on number of CPUs in the system.
Then it forks N processes, and each process loads one list.
Tests with mock.Mock in arguments are silently skipped because of uni

[2015-11-18 22:03] #35 closed

[2015-11-18 22:09] redixin commented on #35
@txels oops. There is still small typo in test. There should be object instance, not type:

[code]

Also test name is different (test_object_1 instead of test_object_1_object)

[2015-11-19 17:05] Kuwagata opened #38 "Breaking behavior in latest release (1.0.1)"
A change in the latest release of ddt (#22 included in 1.0.1) has seemingly introduced breaking behavior for wrapped tests expecting a dictionary object when receiving test data, as exemplified below:

test_data.json

[code]

Original test code:

[code]

New test code:

[code]

Since this behavior appears to be non-configurable and backward-incompatible, this seems more like a [major version chang

[2015-11-19 17:31] txels commented on #38
Thanks for pointing this out. I didn't realise that was breaking existing behaviour.
I will see how to deal with that. In the meantime, pin your dependency to 1.0.0 if that gets you going, as I'm not sure when I can get some time to revert this.

[2015-11-19 18:13] Kuwagata commented on #38
I've pinned it for now, so that should be enough to keep things rolling.

Thanks @txels !

[2016-01-11 07:53] debayanray opened #39 "Patching (mock) fails if custom patch value is provided with mock.patch/mock.patch.object"
I am running a test case under a test class as:

    @ddt.ddt
    class IloCommonModuleTestCase(unittest.TestCase):

        @mock.patch.object(time, 'sleep', lambda x: None)
        def test_case1(self, sleep_mock):
            pass

        @ddt.data(
              ('data1_to_test_case'),
              ('data2_to_test_case'),
              ...,
         )
        @ddt.unpack
        def test_cas

[2016-01-11 08:30] txels commented on #39
My guess is that this has nothing to do with `ddt`, and you are just using `@mock.patch.object` incorrectly. When you use the 3-arg version of `patch.object`, it won't pass a mock as an additional argument to your function, since it doesn't create one.

See http://www.voidspace.org.uk/python/mock/patch.html#patch-object for details.

Have you tried just removing the `ddt` class decorator and seein

[2016-01-11 08:50] debayanray commented on #39
thank you very much, @txels
yes, you were right. I was wrong in interpreting and was using the 3rd argument with patchers in a wrong manner. Thanks for pin-pointing the issue.
:+1:

[2016-01-11 08:50] #39 closed

[2016-05-31 07:31] txels commented on #30
Closed by #42

[2016-05-31 07:31] #30 closed

[2016-05-31 18:08] pradyunsg commented on #32
Adding a MANIFEST.in should be enough for this... PR on it's way.

[2016-05-31 18:33] #32 closed

[2016-05-31 20:12] carlwgeorge commented on #32
Thanks!

[2016-06-01 05:14] pradyunsg commented on #38
What's the status of this?

[2016-06-01 09:58] txels commented on #38
@pradyunsg nothing has been done on this yet. Do you want to take a look?

[2016-06-01 11:38] pradyunsg commented on #38
AFAICT, this behavior shouldn't have changed in a patch-version bump. That was a *bad* mistake.

Since then, another minor version bump has occurred. I recommend the OP to port their tests now, since it's been a while since this change happened. Currently, some people might be using the newer versions (1.0.1+) and it won't be nice to suddenly break their code, intentionally.

~~It might be easy to

[2016-06-01 15:06] pradyunsg opened #44 "Brainstorming: What do you want in ddt v2.0.0?"
I noticed that @txels had expressed the desire to ditch backwards compatibility and give `ddt` another shot to get a more powerful platform on the other side. Hence, with the intent of sparking discussion, I write this.

[2016-06-01 15:24] pradyunsg commented on #44
I would like to be able to specify the name of a generated function, cleanly. `test_1_is_less_than_10` instead of `test_is_less_than_10_1_1`.

I also noticed that Cartesian products of parameters is another popular request.

[2016-06-01 19:20] BenjamenMeyer commented on #38
In all honesty, looking at PR #22 which is what seems to have caused this issue I would really suggest outright reverting #22 and then just telling people to break down the dictionary themselves. There's nothing stopping them from using a dictionary to manage how many entries they have and splitting it out doesn't really add much code to test.

Though if they really want to keep PR #22's functiona

[2016-06-02 05:16] pradyunsg commented on #38
That sounds good too! Having a special decorator ma

[2016-06-04 07:14] pradyunsg commented on #1
I think the former should be default and the latter should be opt-in.

Also, because DRY, it should be possible to add data for a test without duplication of the method.

[2016-07-30 21:02] htv2012 commented on #44
At work, I am using ddt every day and one of the features I am looking for is the ability to have per-ddt set-up/tear-down. In keeping up with the naming pattern, I propose to name them setUpDdt and tearDownDdt. I already made a fork, tried out the idea myself and it seems to work. I need to work on the testing and documentation part.

[2016-07-31 03:19] pradyunsg commented on #38
Bump. Could @txels make this change?

[2016-08-04 13:45] txels commented on #44
Hi all, thanks for using the library, your contributions, and especially for not bitching about me not being very responsive.

I have been giving the future of `ddt` some thought over the past weeks.

To give some background about how `ddt` came to be: I was looking for something that gave to unit tests a similar power as to what one could do with nosetests generators (which only worked for nose f

[2016-08-05 05:09] pradyunsg commented on #44
I would actually also like to add the ability to change the naming algorithm as an argument to the global class decorator. If ddt adds a fake module (ddt.helpers), it'll be the perfect place to put all the support functions, like file and all...

Could you look into whether you can support unittests' setup and teardown functions? It shouldn't be too hard.

I'm +1 to all the changes you mention.

[2016-08-05 05:12] pradyunsg commented on #44
Oh, and if someone passes a literal-like value (list, tuple, dict) to idata suggest that they use data instead.

[2016-08-05 05:14] pradyunsg commented on #44
I know that ddt currently just adds the tests with data to the class... Would it be possible to get the data without loading it into memory at class creation time? As in do the setup of the methods in ddt decorator but really load the data at runtime?

[2016-08-05 15:14] txels commented on #44
@htv2012 I'm not sure what is your use case for `setUpDdt` that isn't covered with regular `setUp` or `setUpClass` methods. Can you elaborate? When and how would you use that?

[2016-08-05 15:46] txels commented on #44
@pradyunsg

I don't see how that could be possible without having to iterate through data more than once. It would complicate the implementation for what IMHO is a narrow use case (large data samples). To someone wanting to test large amounts of data or very large data samples in a memory-efficient way, I'd recommend to use a different approach than ddt.

This sounds good. Truth be told, I was con

[2016-08-06 05:14] htv2012 commented on #44
@pradyunsg

What if I want to pass the test data to `setUp` so it can do some prep work based on the data? Currently, we cannot do that as `setUp` does not accept any parameter. For example, if my test class needs to perform the following prep works: Given a spreadsheet file, the name of the tab, and the coordinate of the cell (these are part of my test data), open the spread sheet, go to the spec

[2016-08-06 06:04] pradyunsg commented on #44
@htv2012 I don't understand why you would want to load the data in `setUp`. The way I see it, that should really be part of the test itself, passed as a parameter by ddt.

What I was thinking is that if it would be possible to have some sort of switch in ddt that'll make it nicer to use for larger data-sets, it would be nice. I don't have a use-case at hand right now.

[2016-09-03 13:32] ankostis commented on #27
You can also use #40, assuming it is merged.

[2016-12-12 12:33] mapleoin opened #46 "Class-level variable data"
I would like to suggest adding some sort of class-level `ddt.data` I will write an example to show what I mean:

[code]

I would be happy to send a pull request implementing this if you're happy with the API. This should be a backwards-compatible change.

[2017-01-02 20:25] mmarek opened #47 "@ddt to allow noindex test names"
As in subject. I would like to add parameter to @ddt decorator.

`@ddt(noindex=True)`

Behaviour would be fairly straightforward. It would prevent indexing names.
Thus resulting in naming generated functions with only name and data.
My use case is that I need more control over namings as I use test results in another system which is very difficult since names loose uniqueness. I can guarantee uniq

[2017-01-20 11:11] Ogaday commented on #1
I think this behaviour should be expected, given inheritance rules. One way to avoid the repeated tests across classes is simply to have `SubTestCase` instead of BaseTestCase inherit from `unittest.TestCase`.

    @ddt
    class BaseTestCase():
        @data(3, 4)
        def test_larger_than_two(self, value):
            self.assertTrue(larger_than_two(value))

        @data(0, 1)
        def tes

[2017-02-16 12:17] balderman1 opened #48 "Question about using @idata"
I have a test and I want to decorate it with @idata.
The iterable I want to use as the idata argument is member in my class.

[code]
Is it possible to do it?

[2017-02-17 20:52] idata commented on #48
Greetings Balderman1.
It's ok about decorate it with @idata.
Thanks for asking.

[2017-02-18 18:50] txels commented on #48
When in doubt, try things and see if they work. Did you try it? Did you get an error? Was the error informative?

---

The issue you will bump into, I imagine, is that at the time when the Python interpreter will try to process the line `@idata(self.lst)`, `self` is not in scope, so you will get an interpreter error.

Try to understand how the interpreter would go about parsing your code and runni

[2017-02-18 19:53] balderman1 commented on #48
You are right - I get an error.
Is there a clean workaround for this?

On Sat, Feb 18, 2017 at 8:50 PM, Carles Barrobés <notifications@github.com>
wrote:

--
Avishay Balderman

[2017-02-18 20:53] txels commented on #48
There isn't. `ddt` acts at class creation time (it's the class decorator that does the work). It manipulates class code before your class is instantiated. Therefore you cannot rely on instance data to drive `ddt` operation.

[2017-04-06 09:16] pradyunsg commented on #44
Bump.

[2017-07-05 20:47] pradyunsg commented on #44
Cleaning up my personal issues list - closing this.

[2017-07-05 20:47] #44 closed

[2017-07-19 02:16] palakpsheth opened #50 "Error pushing new branch"
I am trying to push a new branch in order to submit a PR but am getting permission denied...thanks!

[2017-07-19 02:25] #50 closed

[2017-07-27 22:31] DmytryiStriletskyi opened #52 "Mock objects and DDT. Just question"
Do I have clean ways to use [mock patch](https://docs.python.org/3/library/unittest.mock.html#the-patchers) with `DDT` (with `@data` or smth else)? Thanks.

[2017-07-30 23:07] DmytryiStriletskyi commented on #52
Closed with #53.

[2017-07-30 23:07] #52 closed

[2017-10-18 09:58] YingRuoyuan opened #55 "I add more than 10 data in ddt.data(), but it excuted in wrong order."
[code]
when I run this script, it returns ：
[code]
I wanna the data excute with the normal order. Could you help to resolve this issue? thanks!

[2017-10-25 17:35] deepjia commented on #55
It was fixed 10 days before your issue.
Refer to #54 .

[2018-02-23 14:01] interrogator opened #57 "@unpack, @file_data, and JSON list of lists"
Hi,

Great project, you've really improved our testing framework, thanks.

I appear to have found some unexpected behaviour when combining `@file_data` and `@unpack` when the JSON file contains a list of lists of strings.

Say I have `j.json`:

[code]

and `example.py`:

[code]
and run `python example.py`, I get an unexpected error:

[code]

I would expect `second` to be `"data"` for the first gen

[2018-03-06 17:56] txels opened #59 "Looking for a project maintainer"
I am officially dropping support for `ddt`. It's had its time, but now that I've transitioned to using py.test in my projects, it brings me no value and no longer use it.

If you however still see value in it and would like to step up as a maintainer, let me know and we'll manage a transfer of ownership.

Please comment on this issue if you're interested.

[2018-03-07 11:37] Ogaday commented on #59
First of all, thank you for creating `ddt`. I use it regularly at work and in my personal projects so it's a shame to hear that you will no longer maintain it, but of course I understand the decision. One of the things I appreciate about `ddt` is that I can use whichever test runner I like and the tests can remain standard library compatible.

I'll have a look at the code, but I doubt that I would

[2018-03-08 09:23] interrogator commented on #59
Hey, I'm not 100% keen on taking over the project, but am interested to know exactly how you were able to replace ddt with py.test. If all ddt's functionality is available in maintained libraries, I think the best way to go would just be to add documentation about this to the readme.

I'm happy to help you in any way you might need, just let me know.

[2018-03-08 17:24] wswld commented on #59
Hi, I wanted to let you know that I could take on your project. I'm looking for a project to maintain in my spare time and `ddt` was of much use to me later. I have 3+ years of professional development in python and even longer as a hobby developer.

[2018-03-08 20:56] clintonb commented on #59
[Jazzband](https://jazzband.co/) maintains a number of community-supported Python repos. Consider transferring ownership there.

[2018-03-08 20:57] clintonb commented on #59
@interrogator, pytests' parameterization functionality replaced `ddt` for me. See https://docs.pytest.org/en/latest/parametrize.html.

[2018-03-09 08:58] Ogaday commented on #59
@clintonb is pytest's parameterization compatible with the standard library test runner? ie. Can I `@mark parametrize` a `unittest.TestCase` subclass class method and have it work with when I run `unittest`?

[2018-03-09 16:00] clintonb commented on #59
No clue, but the point of pytest is to replace unittest. pytest supports running unittest-style tests. I recommend trying it for yourself to see how it works.

[2018-03-16 22:44] jpic commented on #59
For pytest, django-dbdiff may help.

[2018-04-11 09:50] xaruman opened #60 "Is it possible to nest @data?"
Hi

I'm in the need of having nested data in my current tests. So basically I was looking for a way to nest "for" iteration over provided @data. Is this possible? how?
I could create a for in my test itself, but I would lose proper test map in statistics. I could create a better log system to being able to distinguish among which specific test failed, but if it's possible to nest @data, that would

[2018-04-11 10:04] xaruman commented on #60
I think this is fixed here [29](https://github.com/datadriventests/ddt/pull/29)

So closing issue. Sorry for mistake.

[2018-04-11 10:04] #60 closed

[2018-04-11 22:30] wswld commented on #59
Seems to be resolved for now.

[2018-04-11 22:30] #59 closed

[2018-04-11 22:33] wswld commented on #48
Seems like nothing really could be done about this.

[2018-04-11 22:33] #48 closed

[2018-04-11 22:37] wswld commented on #57
Hi, sorry for the delay. Is this still relevant to you?

[2018-04-11 22:40] wswld commented on #47
Hi,
Is this still relevant? Can you come up with a PR?

[2018-04-12 08:06] interrogator commented on #57
Hi, yeah, I believe it would still be handy if it was fixed. Not a huge priority though, we have a workaround right now

[2018-04-12 08:28] interrogator opened #61 "Disable ordinal numbering of tests with a decorator argument"
We use a combination of dynamic (ddt) tests and `vcr-unittest`, which records HTTP requests and replays them when tests are rerun. This is all well and good, but we bump into an issue:

1. Tests are given names based on arguments plus an ordinal integer
2. Our set of arguments is always unique, so the integer is not necessary
3. When tests are run, `vcr` saves them based on test name with the ordi

[2018-04-12 08:29] interrogator commented on #61
I guess another nice approach would be a nice decorator that allowed a format string for the test name, or something like that

[2018-04-12 18:41] mmarek commented on #47
I resolved it for my purposes and later switched to pytest :)

[2018-04-13 07:45] wswld commented on #47
@mmarek OK as this is pretty specific and no longer needed I'm closing this. Have a nice day.

[2018-04-13 07:45] #47 closed

[2018-05-25 16:07] wswld commented on #46
Are you still interested in this?

[2018-08-17 15:32] avvw opened #64 "function ddt"
function ddt    test_docstring = getattr(v, "__doc__", None)，
when  v has attribte， return __doc__ of  v    So that desc of report  is __doc__ of v（list  tuple dict） ,not __doc__ of  testing function

[2018-08-22 16:43] jdiazdelrio opened #65 "Generation of test case names fails in v1.2.0"
Hi there,

today, I have upgraded my DDT package to **v1.2.0** from **v1.1.3** and I have hit an issue when trying to run:

**In version 1.1.3** I used to get:

while with **version 1.2.0** I get:

I am using python v3.5.6 on a virtual environment. The test case looks like:

[code]

[2018-08-29 19:36] wswld commented on #61
Greetings. Do you still need this feature? Would you like to step in and provide a pull request for this?

[2018-08-29 19:46] wswld commented on #38
I think as it is 2018 and whoever is using the lib now is probably using the newer approach anyway. I'm closing this for now.

[2018-08-29 19:46] #38 closed

[2018-08-29 19:49] wswld commented on #64
Could you please elaborate. I'm not sure I understand the problem.

[2018-08-29 19:51] wswld commented on #65
Greetings. I'm on it, but it could take some time. If you have clear of the problem, could you please provide a pull request? It could speed up things immensely.

[2018-09-11 19:18] DamianSkrzypczak commented on #59
mark.parametrize is not supporting classes that inherit from unittest.TestCase
... and probably never will be ([link](https://docs.pytest.org/en/latest/unittest.html#pytest-features-in-unittest-testcase-subclasses)), so IMO ddt library has still reason to be maintained.

[2018-09-11 19:39] clintonb-stripe commented on #59
@DamianSkrzypczak I'd argue that's more motivation to move to `py.test`-style tests (at least for those tests which need parameterization) and ditch `unittest`. That said, it's a moot point since @wswld seems to be maintaining the project.

Note that I no longer use Python on a daily basis (new job uses Ruby), so don't take any of this as gospel. I'm just an Internet guy who finds `py.test` better

[2018-09-11 19:51] clintonb commented on #59
@DamianSkrzypczak I'd argue that's more motivation to move to `py.test`-style tests (at least for those tests which need parameterization) and ditch `unittest`. That said, it's a moot point since @wswld seems to be maintaining the project.

Note that I no longer use Python on a daily basis (new job uses Ruby), so don't take any of this as gospel. I'm just an Internet guy who finds `py.test` better

[2018-09-11 21:28] DamianSkrzypczak commented on #59
Hi! Thanks for response :smile:

**[You can skip this part, it's just personal point of view]**
Don't get me wrong, both solutions (unittest/pytest) have some pros and cons for me,
for example:
cons:
- pytest is getting very big and "universal" and well... I think believe that  "a jack of all trades is master of none"
- unittest in opposition is very very limited and simple.

pros:
- pytest is ver

[2018-09-24 10:11] tadly opened #66 "run specific tests from cli"
With `unittest` it is possible to run specific tests from the cli.
When using `ddt` this doesn't seem to be possible.

Example:
[code]

Running specific unittest:
[code]

Running specific unittest with ddt:
[code]

[2018-11-02 04:10] Arrowana commented on #66
Yes, you can.

For instance:
[code]

When running discovery you get the following test methods:
test_stuff.ThingTest.test_equal_1_3
test_stuff.ThingTest.test_equal_2_4
test_stuff.ThingTest.test_equal_3_5

To run one:
`python -m unittest test_stuff.ThingTest.test_equal_2_4`

However, I don't know why your command syntax does not work

[2018-11-14 04:47] wswld commented on #66
I can confirm the syntax suggested by @tadly is not supported at the moment, the right way to use it is like shown by @Arrowana. It's a bummer since discovering tests by substring would be most beneficial.

If anyone has a vision how this could be implemented, a pull request is welcome. I will probably investigate it at some point but for now there are more pressing issues with this package.

[2018-11-14 08:44] tadly commented on #66
Just wanted to say that I myself have migrated to `pytest` so I won't be spending much time on this issue.
But good to see that it has been acknowledged :)

[2018-11-17 17:37] wswld commented on #65
@jdiazdelrio what do you think of the proposed resolution strategy? https://github.com/datadriventests/ddt/commit/0ab2fd9bdb17913b9d0b3a0cba697b4c1e1b1509#diff-44acb802320ed681ed514997cb5b5fa4R246

[2018-11-17 17:39] wswld commented on #64
@avvw what do you think of the proposed resolution strategy? https://github.com/datadriventests/ddt/commit/0ab2fd9bdb17913b9d0b3a0cba697b4c1e1b1509#diff-44acb802320ed681ed514997cb5b5fa4R245

[2018-11-17 19:34] jdiazdelrio commented on #65
Hi @wswld,

the issue is only partially resolved. With this fix, the test case name is created, but it does not follow the previously existing strategy. For example, if we extend the test case I provided on my previous communication to

The test case looks like:

[code]

the result with this patch is:

when, at least, it should be something like:

Note that in the previous versions there was even

[2018-11-20 05:16] wswld commented on #65
Hi! Thank you very much for your feedback. I'm now trying to understand
where the project should go and any user input is invaluable at this point.

As far as I understand, we agree on general test name resolution strategy,
but the implementation is far from ideal. I will look into it ASAP.

On Sat, Nov 17, 2018, 10:34 PM Jorge Diaz del Rio <notifications@github.com
wrote:

[2018-12-29 23:37] fondamenti-dev opened #67 "tuple() -> empty tuple ... ok"
When I use ddt and @unpack I get the message
"tuple() -> empty tuple ... ok"
Is there a way to avoid it?

[2019-01-07 12:35] wswld commented on #67
I'm working on it at the moment in #65

There should be ideally a better resolution strategy there. It should show docstring or test name.

[2019-01-18 03:48] viswagb commented on #3
@arnm is your above comments any progress, im too looking same..in ddt

[2019-02-24 07:08] wswld opened #69 "Add official support for Python 3.6 and 3.7"
For now there is no Python 3.6/3.7 targets in `tox.ini` and `travis.yml` - gotta add them and test.

[2019-02-24 07:09] #64 closed

[2019-02-24 07:27] wswld commented on #65
Hi, the issue seems to be fixed now.

[2019-02-24 07:27] #65 closed

[2019-02-24 07:28] wswld commented on #67
Hello! The issue seems to be fixed now.

[2019-02-24 07:28] #67 closed

[2019-02-24 11:09] jdiazdelrio commented on #65
Hi @wswld

I have upgraded DDT to this latest release and re-run my tests and it all works as expected.

Thank you so much for fixing this issue!

[2019-02-24 11:19] wswld commented on #65
My pleasure. I'm glad it works now.

[2019-03-16 13:49] wswld opened #70 "Implement release through Twine"
https://pypi.org/project/twine/

[2019-05-21 06:04] avkoval commented on #66
How to run 'discovery'? I can't find the option into nose how to do that, without it the method names are hidden :-(

[2019-05-22 20:08] avkoval commented on #66
I found one workaround: if I comment out docstring of the test function, I can see the function name: that is the only way I found to discover that - anything else (-v 3, etc) does no help

[2019-05-23 06:51] wswld commented on #66
Greetings. By default it uses the docstring if provided. What are you trying to achieve? We can think of a possible solution together.

С уважением, Всеволод
On 22 May 2019, 23:08 +0300, avkoval <notifications@github.com>, wrote:

[2019-07-17 15:53] ntindle commented on #46
This would be very useful

[2019-07-18 23:30] wswld commented on #46
Would you care to provide a PR?
On 17 Jul 2019, 18:53 +0300, Nicholas Tindle <notifications@github.com>, wrote:

[2019-07-22 19:06] ntindle commented on #44
@htv2012  Do you still have that setup and teardown code around? I know its been several years but it seems very useful

[2019-07-25 04:42] htv2012 commented on #44
Hello Nicholas,

I regret not keeping that code. My current job does Python, but not
unittest, and definitely note ddt.
I would like to take this opportunity to say that when I used DDT a few
years back, I really appreciate the library. Thank you and keep up the good
work.
Hai

On Mon, Jul 22, 2019 at 12:06 PM Nicholas Tindle <notifications@github.com>
wrote:

[2019-07-31 19:54] ntindle opened #72 "ddt interaction with setUp and tearDown"
There is a lack of documentation on how ddt interacts with the setup and teardown methods

[2019-09-20 07:47] guikeyy opened #73 "Django runserver finds that @file_data has loaded the data and cannot be changed[Help me]"
When Django runserver executes, it finds that @file_data has already loaded the data. When the data in tempjson.json is changed, the result of execution is still old.

![image](https://user-images.githubusercontent.com/24204572/65308822-6e756500-dbbd-11e9-9bf4-89286a76be63.png)

Help me,Thank

[2019-10-10 07:18] wswld commented on #72
I'm not sure this is a priority at the moment, but I'm open for contributions as always.

[2019-10-24 12:15] dambroc1 opened #75 "Test Case Ordinal Numbering zero-pads poorly"
When using the @data decorator, DDT attempts to dynamically determine the zero-padding. The problem is, a global value is being set (index_len) for each test that calls @data. But the value index_len is not used until all tests have been added. Meaning only the index_len of the last test in the suite is used. If I have test A that has 300 data sets, and test B that has 2 data sets, no zero padding

[2020-04-09 02:54] zorchan opened #80 "Index only test names"
Hi, in case I would like to just use the index for a test name (which is the code path when `is_trivial()` returns False), what would be the suggested way to do that?

Is the proposal from this issue https://github.com/datadriventests/ddt/issues/47 in the right direction?  (i.e. using kwargs)

Thank you.

[2020-04-14 23:36] zorchan commented on #80
I just went ahead to assume `@ddt(indexOnly=True)` is the way to go.  Now, the change is ready but when about to send a pull request, I see: `Permission to datadriventests/ddt.git denied`.

Any help here please?  Thank you.

[2020-05-07 02:24] #80 closed

[2020-05-07 11:06] mtreinish opened #83 "New release causes error on import"
When running test suites locally with the new 1.4.0 release a traceback is raised on import because of the use `nose`. For example:

[code]

This is in a stdlib unittest test suite. `nose` is not listed in the requirements list for the new ddt package on pypi so this causes a failure since nose will not necessarily be installed. That being said nose is an inactive project and the first section in

[2020-05-07 12:59] ppentchev commented on #83
Hi,

In addition to nose, ddt also seems to require enum now, which means it needs a dependency on enum34 on Python 2.7. See https://github.com/datadriventests/ddt/pull/85

G'luck,
Peter

[2020-05-07 17:39] wswld commented on #83
Hi,

I see the problem, but reverting the whole commit (with the introduced functionality) is a bit abrupt. Let me look how it can be fixed less radically.

What for the enum the tests for 2.7 are somehow still running, I'm not sure how I didn't notice that.

[2020-05-07 18:39] ppentchev commented on #83
Hi,

The tests probably ran because flake8 brings in enum34 as an installation dependency :) But `python3 setup.py bdist_wheel` and then, in a pristine virtual environment, `python2 -m pip install ddt-1.4.0-*.whl` will demonstrate the missing dependencies.

Thanks for looking into this!

G'luck,
Peter

[2020-05-11 05:10] roybot23 commented on #72
I agree this would be extremely helpful and is sorely lacking

[2020-05-15 02:49] wswld commented on #83
The issue should be fixed in 1.4.1

[2020-05-15 02:49] #83 closed

[2020-05-22 17:57] kloczek opened #88 "1.4.1: test suite is failing"
[code]

[2020-05-23 22:13] wswld commented on #88
We no longer run test suite with nose, but switched to `pytest`. Nose is officially deprecated package. Both `pytest` and `unittest` run fine.

[2020-05-23 22:16] wswld opened #89 "Cleanup"
- [ ] makefile
- [ ] tests for clean install (enum case)
- [ ] coverage and pytest configs
- [ ] flake8 check
- [ ] import order check
- [ ] list of contributors

[2020-05-24 06:12] kloczek commented on #88
OK pytest is working.

Thx. Closing

[2020-05-24 06:12] #88 closed

[2020-08-18 12:03] MrMino opened #91 "Docs → Example Usage: contents of example data files not shown?"
Going into [Example Usage section of the documentation](https://ddt.readthedocs.io/en/latest/example.html), below the code snippet, there's a section which, I suppose, should show the contents of the files used in the snippet.

It shows nothing currently.

[code]

Paths in [example.rst](https://github.com/datadriventests/ddt/blob/master/docs/example.rst) seem to be ok.

[2020-09-21 11:12] zhongerdxf opened #93 "(DDT+Excel+Unittest)How to control the execution of each test case"
I use Excel to store my test cases.Now I want to add a is_skip column to control whether to execute the testcase.
But I can't use **unittest.skip**(is_skip="Y”)，if i use this，all of my testcase will skip.
I hope is_skip of each line can control whether each use case is executed.Can DDT be implemented like this?
Looking forward to your reply : )

[2021-01-25 11:08] dotlambda opened #95 "Test failure with PyYAML 5.4.1"
[code]

[2021-01-26 15:06] MeggyCal commented on #95
will be fixed by #96

[2021-03-12 20:25] wswld commented on #95
#96 was merged, I will make a release later today.

[2021-03-12 20:38] wswld commented on #95
@dotlambda @MeggyCal should be resolved in version 1.4.2

[2021-03-12 20:38] #95 closed

[2021-03-15 20:07] MeggyCal commented on #95
thanks a lot!

[2021-04-26 03:25] xiamujiademao commented on #93
@ddt.ddt
class Add(unittest.TestCase):
    @ddt.data(*test_data)
    def test_add(self, data):
        is_skip = data['is_skip']
        if is_skip == 'Y' or is_skip == 'y':
            self.skipTest('skip')
        elif:

[2021-09-27 19:23] wswld commented on #75
@dambroc1 it took us some time to get there, but this issue seems to be fixed now.

[2021-09-27 19:23] #75 closed

[2021-09-27 19:41] jakelishman opened #97 "Signature change of `ddt.idata` in 1.4.3 breaks downstream uses"
In #92, the signature of `idata` was changed from `idata(values)` to `idata(values, index_len)`, with no default handling for the latter argument.  This means that all current uses of `idata(values)` are now broken on upgrade to 1.4.3, and there's no compatible calling method for versions 1.4.2 and 1.4.3.

I'm not too familiar with your internals, but glancing through PR #92, it looks like it coul

[2021-10-04 22:38] #97 closed

[2021-10-26 05:31] #1 closed, assigned to nobody

[2021-12-09 16:53] jasonchester opened #99 "@ifile_data - an iterable @file_data decorator"
tldr; a combination of the **@idata** and **@file_data** decorators

## Use Case
Add a decorator **@ifile_data** to pass multiple files as data items into a test function.

1. Files would be specified by a glob pattern relative to the test files directory.

2. The name of the test case would be the file.name of each file.

3. Test generated test names should include the file name.

an example of h

[2021-12-21 06:27] orgadish opened #100 "Add @named_data to give tests meaningful names."
I love `ddt`! I often find myself doing something like the following in order to get useful names:

[code]

I see that some of this type of functionality is in the works for ddt 2.0, but I don't know what kind of progress has been made on that. In the meantime, I put together this helper module (below, tested successful in Python 2.7), which allows me to do this with a single decorator and may be

[2022-04-01 12:26] lgp171188 opened #102 "Consider dropping support for all EOL versions Python 2.7 - 3.6"
All Python versions older than 3.7 are EOL. Please consider dropping support for the versions older than these by making a new major version release.

[2022-05-04 17:59] wswld commented on #102
Hi @lgp171188 I know there are Python 2.7 projects out there that still rely on this library. I think it's safe to continue offering limited support until we run into good enough reason to stop doing that.

[2022-05-04 17:59] #102 closed

[2022-05-04 18:03] wswld commented on #100
Hi @orgadish sorry for the late response. You could try submitting a PR, especially as you have most of the code written anyway. If I don't hear from you for another month I may do that on your behalf, but this way you won't get an official Github contribution in your name :)

[2022-05-24 00:50] wswld commented on #99
@jasonchester Hi, sorry for the wait, but are you open to creating a PR for this? I don't think I have the resources to address this on my end.

[2022-05-24 02:11] #100 closed

[2022-06-01 09:34] ondras12345 opened #106 "How to import `named_data`?"
How do I import `named_data` in my code?
It seems like only the `ddt` module is provided by the pip package, and `named_data` does not seem to be imported anywhere in `ddt.py`, so I cannot do something like `from ddt import named_data`.
https://github.com/datadriventests/ddt/blob/590e2ca901d89aeb33a74a16ed4b637cf77684ab/setup.py#L15
Thanks

[2022-06-29 05:42] orgadish opened #107 "Allow `named_data` to take tuples (any `collections.Sequence`)"
`@named_data` currently explicitly checks for lists or dicts, but in the case of lists it could just check against sequences (including tuples) and work in exactly the same way.

[2022-08-10 17:09] ondras12345 commented on #106
Fixed in #109, released in 1.6.0. Thanks!

[2022-08-10 17:09] #106 closed